/* Import */
@import url(reset.css);
@import url(about.css);
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
	font-family: "Quantico", sans-serif;
	font-family: "Poppins", sans-serif;
*/

/* Vars */
:root {
	--font-family: 'Poppins', sans-serif;
	--second-family: 'Quantico', sans-serif;

	--color-primary: #778a9b;
	--color-secondary: #001a3e;
	--006: #006aff;
	--00C: #00c4df;
	--974: #974df9;
}

/* Main Styles */
body {
	width: 100%;
	color: var(--color-primary);
	font-family: var(--font-family);
	font-size: 15px;
	background: #fafafa;
}

.container {
	margin: 0 auto;
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
}

.logo {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 32px;
	color: #081051;
}
.logo span {
	color: var(--006);
}

header {
	position: relative;
	min-height: 927px;
	background: linear-gradient(180deg, #e8f0fb 0%, #fafafa 100%);
	z-index: 1;
}

/* Header menu*/

.header-menu {
	z-index: 9;
	padding-top: 35px;
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 85px;
}

.menu-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.menu-list__link {
	font-weight: 600;
	font-size: 14px;
	color: var(--color-secondary);
}

.active-link {
	color: var(--006);
}

.menu-button {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	border-radius: 8px;
	background: #0d71fe;
	padding: 10px 20px;
	cursor: pointer;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
}

/* Header main */

.header::after {
	content: '';
	z-index: -1;
	top: 15%;
	left: 425px;
	width: 1028px;
	height: 781px;
	position: absolute;
	background-image: url(../img/header-notepad.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header-title {
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	letter-spacing: -0.04em;
	text-align: center;
	color: var(--color-secondary);
	margin-bottom: 5px;
}

.header-subtitle {
	margin: 0 auto;
	max-width: 780px;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.04em;
	color: var(--color-primary);
}

/* Special */

.header-special {
	padding-top: 242px;
}

.special-text {
	padding-left: 20px;
	font-weight: 600;
	font-size: 14px;
	color: var(--color-primary);
	margin-bottom: 10px;
}

.special-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 32px;
}

.special-list__item {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 15px 15px 15px 20px;
	max-width: 315px;
	border-radius: 15px;
}

.special-list__item:nth-child(1) {
	background: rgba(146, 181, 225, 0.35);
}

.special-list__item:nth-child(2) {
	background: rgba(151, 77, 249, 0.2);
}

.special-list__item:nth-child(3) {
	background: rgba(0, 196, 223, 0.2);
}

.special-list__block {
	display: flex;
	flex-direction: column;
}
.special-list-title {
	font-weight: 600;
	font-size: 16px;
	letter-spacing: -0.02em;
	color: var(--color-secondary);
}
.special-list-subtitle {
	font-weight: 400;
	font-size: 12px;
	color: var(--color-primary);
}

.special-list__right {
	display: flex;
	align-items: center;
	border-radius: 10px;
	width: 60px;
	height: 60px;
}

.special-list__right:first-child {
	background: var(--006);
}

.special-call {
	padding-left: 20px;
	font-weight: 600;
	font-size: 14px;
	color: var(--color-secondary);
	padding-bottom: 120px;
}

.special-call span > a {
	padding-left: 8px;
	font-weight: 600;
	font-size: 20px;
	color: var(--color-secondary);
}

/* Special img */

.right-1 {
	background: var(--006);
}

.right-2 {
	background: var(--974);
}

.right-3 {
	background: var(--00C);
}

.special-list__right img {
	margin: 0 auto;
}

.special-laptop {
	width: 30px;
	height: 30px;
}

.special-smartphone {
	width: 33px;
	height: 33px;
}

.special-smartbelt {
	width: 33px;
	height: 33px;
}

/* Main */

.main {
	position: relative;
}

.main-title {
	margin: 0 auto;
	text-align: center;
	max-width: 770px;
	font-weight: 400;
	font-size: 32px;
	line-height: 113%;
	letter-spacing: -0.04em;
	color: var(--color-secondary);
	margin-bottom: 15px;
}

.main-subtitle {
	margin: 0 auto;
	max-width: 563px;
	font-weight: 400;
	font-size: 15px;
	line-height: 124%;
	letter-spacing: -0.04em;
	text-align: center;
	color: var(--color-primary);
	margin-bottom: 130px;
}

/* Main List */

.main-list {
	justify-content: center;
	position: relative;
	display: flex;
	gap: 54px;
	margin-bottom: 40px;
}

.main-list__item {
	position: relative;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	min-width: 340px;
	border-radius: 15px;
}

.main-list__item:nth-child(1):after {
	content: '';
	top: -20px;
	left: 50%;
	position: absolute;
	background-image: url(../img/icons/home.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	transform: translateX(-50%);
}

.main-list__item:nth-child(2):after {
	content: '';
	top: -20px;
	left: 50%;
	position: absolute;
	background-image: url(../img/icons/shopping-mall.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	transform: translateX(-50%);
}

.main-list__item:nth-child(3):after {
	content: '';
	top: -20px;
	left: 50%;
	position: absolute;
	background-image: url(../img/icons/web-camera.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	transform: translateX(-50%);
}

.main-list__title {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	color: var(--color-secondary);
	margin-top: 52px;
	margin-bottom: 22px;
}

.main-list__text {
	margin: 0 auto;
	max-width: 281px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: var(--color-primary);
	margin-bottom: 25px;
}

.main-list__img {
	position: absolute;
}

/* Img List */

.img-list-1 {
	z-index: -2;
	left: 390px;
	top: 40%;
}

.img-list-2 {
	z-index: -2;
	left: 41%;
	top: 40%;
}

.img-list-3 {
	z-index: -2;
	left: 61%;
	top: 40%;
}

/* Section Price */

.price {
	text-align: center;
	margin-top: 142px;
	background: #081051;
}

.price-title {
	padding-top: 72px;
	font-weight: 600;
	font-size: 40px;
	letter-spacing: -0.04em;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

/* Price Block */

.price-block {
	text-align: left;
	margin-bottom: 100px;
}

.price-block-last {
	margin-bottom: 60px;
}

.price-block__title {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.04em;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

.price-block__list-brand {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}

.list-brand__btn {
	font-weight: 600;
	font-size: 14px;
	color: var(--color-primary);
}

.price-btn {
	padding: 10px 25px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: -0.04em;
	text-align: center;
	color: var(--color-primary);
	text-transform: uppercase;
	transition: background-color 0.6s, color 0.6s;
}

.price-btn:hover {
	color: rgba(8, 16, 81);
	background-color: rgba(0, 196, 223);
}

.price-block__section-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}

.section-price {
	min-width: 369px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.section-price__text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.section-price__text::after {
	content: '';
	bottom: -15px;
	left: 130px;
	position: absolute;
	width: 120px;
	height: 1px;
	background: var(--color-primary);
}

.section-price__name {
	max-width: 205px;
	font-weight: 600;
	font-size: 19px;
	letter-spacing: -0.04em;
	color: var(--color-primary);
}

.section-price__price {
	flex-basis: 118px;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: -0.04em;
	color: #fff;
}

.price-btn__contact {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 8px;
	background-color: var(--006);
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	margin-bottom: 85px;
}

/* Footer */

.footer {
	margin-top: 65px;
	margin-bottom: 35px;
	text-align: center;
}

.footer-hr {
	width: 120px;
	height: 1px;
	margin: 0 auto;
	background: var(--color-primary);
	margin-bottom: 50px;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer-menu {
	justify-content: center;
	margin-bottom: 30px;
}

/* Footer Socials */

.footer-social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 17px;
	margin-bottom: 25px;
}
.social-list__item {
}
.social-list__link {
}
.instagram-icon {
	width: 35px;
	height: 35px;
}
.vk-icon {
	width: 40px;
	height: 40px;
}
.telegram-icon {
	width: 35px;
	height: 35px;
}

.footer-copyright {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: -0.04em;
	text-align: center;
	color: var(--color-primary);
}
